.modal.fade .modal-dialog {
  transition: -webkit-transform .1s ease-out  !important;
  transition: transform .1s ease-out  !important;
  transition: transform .1s ease-out, -webkit-transform .1s ease-out  !important;
}

small.text-muted{
  font-style: italic;
}
img.avatar{
  height: 80px;
  width: 80px;
  cursor: pointer;
  opacity: 1;
}
img.avatar:hover {
  opacity: 0.75;
}


.textboxhighlight {
    background-color: red;
}

.input_error {
  outline: 1px solid red;
}

.edit_button {
  opacity: 0;
}

table.modal-form td{
  vertical-align: middle !important;
}


table.users td{
  vertical-align: middle !important;
}

img.table_icon{
  height:30px;
  width:30px;
}

td.active{
  background-image: url("../resources/images/check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

td.inactive{
  background-image: url("../resources/images/cross.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

.user-card > img{
  max-width: 150px !important;
}

button.edit {
  padding: 0px !important;
}

.modal-edit-address
{
  max-width: 800px !important;
}